<div class="home">
  <h2>Hello World!</h2>
  <div>
  <button onclick="location.href='/register'">Register</button>
  <h3>or</h3>
  <button onclick="location.href='/login'">Login</button>
  <div>
</div>