<h1>LOGIN</h1>
<form action="/api/users/login" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  <button type="submit">Acceder</button>
</form>

<h2>Nuevo usuario?</h2>
<button onclick="location.href='/register'">Registrarse...</button>