<h1>Registro</h1>
<form action="/api/users/register" method="POST">
  <label for="firstName">First name</label>
  <input type="text" name="firstName" id="firstName" />
  <label for="lastName">Last name</label>
  <input type="text" name="lastName" id="lastName" />
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <label for="age">Age</label>
  <input type="number" name="age" id="age" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  <button type="submit">Register</button>
</form>