<div class="form-div">
  <h2>Sign Up</h2>
  <form action="/api/users/register" method="POST">

    <input
      type="text"
      placeholder="First Name"
      name="firstName"
      id="firstName"
    />

    <input type="text" placeholder="Last Name" name="lastName" id="lastName" />

    <input type="text" placeholder="Email" name="email" id="email" />

    <input
      type="number"
      placeholder="Age"
      style="-moz-appearance: textfield"
      name="age"
      id="age"
    />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />

    <button type="submit">Register</button>
  </form>
</div>